footer{
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	height: 6rem;
	background: #909090;
    width: 100%;
}
div{
    flex: 1;
    font-size: 30px;
}
div img{
    width: 30px;
    height: 30px;
}
div p{
    color:black;
}
.on{
    color: red;
}